.counterWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;

  .counterText {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  .counterInput {
    margin: 5px;
    display: block;
  }

  .button {
    margin: 5px;
    margin-left: 5px;
  }

  .errorMessage {
    padding: 10px;
    color: red;
    margin-left: 5px;
  }
}

